.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #fff;
}

.search-container {
    padding: 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.search-button {
    margin-top: 20px;
    background: #3f00ff;
    color: #fff;
}

.search-error {
    font-size: 12px;
}