@import "../../../styles/styles.scss";

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    border-radius: 15px;
    background: $theme-color;
    padding: 15px;
    display: flex;
    align-items: center;
    button {
        background: $button-theme;
        color: $theme-color;
    }
}

.list-container {
    height: 100%;
    border-radius: 15px;
    background: $theme-color;
    padding: 15px;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
}

.filter-button {
    background: $background-theme;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    h4 {
        color: $theme-color;
        font-size: 15px;
    }
    img {
        height: 30px;
    }
}

.test {
    height: 100%;
    background: white;
}